:root {
  --black: #2c3e50;
  --white: #dff9fb;
  --off-white: #b2bec3;
  --blue: #21d4fd;
  --purple: #b721ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  color: var(--white);
}

body,
html {
  height: 100%;
  display: grid;
}

::selection {
  background-color: var(--purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: auto 0;
}
